<footer class="footer py-5 mt-5">
  <div class="row grid-nogutter container">
    <div class="col-sm-12 col-md-4">
      <p>Built in Malawi by <br /><a href="{{.Site.Params.author_url | absURL}}">{{.Site.Params.author}}</a>
    </div>
    <div class="col-sm-12 col-md-4">
      <ul class="nav-list list-unstyled">
        <li class="nav-item">
          <a href="{{ '' | absURL }}">Home</a>
        </li>
        <li>
          <a href="https://github.com/{{.Site.Params.github}}">GitHub</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Follow us on Twitter</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <ul class="nav-list list-unstyled">
        {{ $currentPage := . }}
        {{ range first 3 .Site.Menus.footer }}
        <li><a href="{{ .URL }}" {{if $currentPage.IsMenuCurrent "main" . }} class="active" {{end}}>{{ .Name }}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
</footer>